<!-- tipo-audio.component.html -->

<div class="container__input2">
  <label for="tipo_audio" class="form__label">Tipo De Audio</label>
  <div class="checkbox-group">
    <input type="checkbox" class="form__check__imput" id="tipo_audio" formControlName="tipo_audio" required>
    <label for="cuento" class="form__label">Cuento</label>
  </div>
  <div class="checkbox-group">
    <input type="checkbox" class="form__check__imput" id="tipo_audio" formControlName="tipo_audio" required>
    <label for="leyenda" class="form__label">Leyenda</label>
  </div>
</div>
