/* Estilos del header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999; /* Asegura que esté por delante de otros elementos */
    background: linear-gradient(black,purple,mediumpurple);
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.greeting{
  /*
  height:  300px;
  width: 300px;
  */
  padding-right:600px;
  padding-left:250px ;
  display: inline-block;
  text-align: left;
  text-shadow: 4px 4px 10px black;

}

/* Estilos para el margen superior del contenido principal para dejar espacio para el encabezado */
.content {
    margin-top: 120px; /* Ajusta la altura del encabezado más un margen */
}
