.button-container {
  display: flex;
  justify-content: space-between;
}

.button__submit button,
.button__cancel button{
  padding: 10px 20px;
  background-color:#ffffff6e;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;

  width: 100px;
  height: 37px;

  cursor: pointer;
  transition: background-color 0.3s;
}

.button__cancel button {
  margin-left: 0;
}

.button__submit button {
  margin-left: auto;
}

.button__cancel button:hover{
  background-color:rgba(158, 0, 0, 0.575);
  color:rgba(245, 245, 245, 0.863)
}

.button__submit button:hover{
  background-color:rgba(5, 84, 173, 0.63);
  color:rgba(245, 245, 245, 0.863)

}
