.editor-container {
  width: 800px; 
  height: 150px;

  overflow: auto; 
  border: 1px solid #ccc;
  border-radius:10px;

  color: black;
  background-color:#fff;


}

.relato__text {
  font-family: 'Calibri', Arial, sans-serif;
  font-size: 12pt; 
  line-height: 1.6;
  margin-top: 12px;
  margin-bottom: 12px;
  text-indent: 36pt; 
  text-align: justify;
}
