

  <div class = "player-album">
    <div class = "caja">
      <div class = "imagen">
        <img src="../assets/imagenes/im.jpg" alt="" height="171px" width="153px" >
      </div>
      <div class = "descripcion">
        <!-- <h2> {{categoria}} </h2>
        <h3>{{}}</h3>
        <h4>Narrado por: {{narrador}}</h4> 
        <h4>Musica: {{musica}}</h4> -->
      </div>      
    </div>
    <div class="contenedor">
        <!-- <p>{{texto}}</p> -->
    </div>
    <div class="audio">
      <audio controls = "controls" loop="loop">
        <source src = "../assets/audios/Leyenda de la yuca.mp3" type="audio/mp3">
        tu navegador no es compatible 
      </audio>
  </div>
  
  </div>
  
  