
   
   <div class="usuario"> 
   <div class="titulo">
    <h1 class="subTitulo" > Cuentos</h1>  
   </div>
   
   
    <div class="continer">
       
        <div class="box">
            
            <h3 class="subTitulo1">El quirquincho músico</h3>
           
            <img class="imagen" src="imagen/1 Quirquincho musico.jpg"  >
            
            <a href="https://www.youtube.com/watch?v=i0YQDUHquK4" target="_blank">
                <button> <span>Resumen</span>
                </button>
            </a>
           
           
        </div>

        <div class="box">
            <h3 class="subTitulo1">El Sapo y el Condor</h3>
            <img class="imagen" src="imagen/2 condor y sapo.jpg"  >

            
            <a href="https://www.youtube.com/watch?v=O7r4xenntrA" target="_blank">
                <button> <span>Resumen</span>
                </button>
            </a>
        </div>

        <div class="box">
            <h3  class="subTitulo1">El Zorro y el Cuy</h3>
            <img class="imagen" src="imagen/3 zorro y cuy.jpg"  >

            
            <a href="https://www.youtube.com/watch?v=K7Bvi6zMDWk" target="_blank">
                <button> <span>Resumen</span>
                </button>
            </a>
        </div>

        <div class="box">
            <h3  class="subTitulo1">El abuelo y el Raton</h3>
            <img class="imagen" src="imagen/4 abuelo y raton.jpg"  >

            <a href="https://www.youtube.com/watch?v=shmgU6CsZ7A" target="_blank">
                <button> <span>Resumen</span>
                </button>
            </a>
        </div>

    </div>



    <div class="titulo">
        <h1 class="subTitulo" > Leyendas</h1>  
       </div>
       
       
        <div class="continer">
           
            <div class="box">
                <h3  class="subTitulo1">La leyenda de la quinua y la sal</h3>
                <img class="imagen" src="imagen/La leyenda de la quinua y la sal.jpg"  >
                
                <a href="https://www.youtube.com/watch?v=48geDkOh60w" target="_blank">
                    <button> <span>Resumen</span>
                    </button>
                </a>
            </div>
    
            <div class="box">
                <h3  class="subTitulo1">Leyenda de la yuca</h3>
                <img class="imagen" src="imagen/Leyenda de la yuca.jpg"  >
                <a href="https://www.youtube.com/watch?v=44NXPfyC1dI" target="_blank">
                    <button> <span>Resumen</span>
                    </button>
                </a>
            </div>
    
            <div class="box">
                <h3  class="subTitulo1">La Leyenda del Toborochi</h3>
                <img class="imagen" src="imagen/La Leyenda del Toborochi.jpg"  >
                <a href="https://www.youtube.com/watch?v=pZPS8QJgIQU" target="_blank">
                    <button> <span>Resumen</span>
                    </button>
                </a>
            </div>
    
            <div class="box">
                <h3  class="subTitulo1">El origen del guajojó </h3>
                <img class="imagen" src="imagen/el ori de guajojo.jpg"  >
                <a href="https://www.youtube.com/watch?v=8k4DMhUzd-g" target="_blank">
                    <button> <span>Resumen</span>
                    </button>
                </a>
            </div>
            
        </div>

    </div>  
       
    
