<p>vista-adm works!</p>
<div class="TITULO">
    <h1>LA VOZ DE MI TIERRA</h1>
</div>

<div class="scroll-bg">
    <div class="scroll-div">
        <div class="CUENTOS"><h2>CUENTOS:</h2></div>
        <div class="scroll-object">
            <div class="imageUno"><img src="dificil.jpg" alt="Nivel es dificil" height="200"  width="200"/><hr></div>
            <div class="contenidoUno">
                <h3>titulo de audio</h3>
                <h3>procedencia</h3>
                <h3>Nombre del narrador</h3>
                <h3>Nombre musica de fondo</h3> 
            </div>   
            <i class="fa-solid fa-trash-can"></i>
            <i class="fa-sharp fa-solid fa-screwdriver-wrench"></i>                  

            <div class="imageDos"><img src="dificil.jpg" alt="Nivel es dificil" height="200"  width="200"/><hr></div>
            <div class="contenidoDos">
                <h3>titulo de audio</h3>
                <h3>procedencia</h3>
                <h3>Nombre del narrador</h3>
                <h3>Nombre musica de fondo</h3> 
            </div>   
            <i class="fa-solid fa-trash-can"></i>
            <i class="fa-sharp fa-solid fa-screwdriver-wrench"></i> 

            <div class="imageUno">
                <img src="https://cdn.bolivia.com/sdi/2018/08/31/cuantas-culturas-hay-en-bolivia-667663.webp" alt="Quechua" height="50"  width="50"/><hr>
            </div>
            <div class="contenidoTres">
                <h3>titulo de audio</h3>
                <h3>procedencia</h3>
                <h3>Nombre del narrador</h3>
                <h3>Nombre musica de fondo</h3> 
            </div>    
            <i class="fa-solid fa-trash-can"></i>
            <i class="fa-sharp fa-solid fa-screwdriver-wrench"></i> 

            <img src="dificil.jpg" alt="Nivel es dificil" height="100"  width="100"/><hr>
            <div class="contenidoCuatro">
                <h3>titulo de audio</h3>
                <h3>procedencia</h3>
                <h3>Nombre del narrador</h3>
                <h3>Nombre musica de fondo</h3> 
            </div>   
            <i class="fa-solid fa-trash-can"></i>
            <i class="fa-sharp fa-solid fa-screwdriver-wrench"></i> 
        </div>
    </div>
</div>
<div class="DosScroll-bg">
    <div class="DosScroll-div">
        <div class="LEYENDAS"><h2>LEYENDAS:</h2></div>
        <div class="DosScroll-object">
            <img src="dificil.jpg" alt="Nivel es dificil" height="100"  width="100"/><hr>
            <h3>titulo de audio</h3>
            <h3>procedencia</h3>
            <h3>Nombre del narrador</h3>
            <h3>Nombre musica de fondo</h3>    
            <i class="fa-solid fa-trash-can"></i>
            <i class="fa-sharp fa-solid fa-screwdriver-wrench"></i>                  

            <img src="dificil.jpg" alt="Nivel es dificil" height="100"  width="100"/><hr>
            <h3>titulo de audio</h3>
            <h3>procedencia</h3>
            <h3>Nombre del narrador</h3>
            <h3>Nombre musica de fondo</h3> 
            <i class="fa-solid fa-trash-can"></i>
            <i class="fa-sharp fa-solid fa-screwdriver-wrench"></i> 

            <img src="dificil.jpg" alt="Nivel es dificil" height="100"  width="100"/><hr>
            <h3>titulo de audio</h3>
            <h3>procedencia</h3>
            <h3>Nombre del narrador</h3>
            <h3>Nombre musica de fondo</h3> 
            <i class="fa-solid fa-trash-can"></i>
            <i class="fa-sharp fa-solid fa-screwdriver-wrench"></i> 

            <img src="dificil.jpg" alt="Nivel es dificil" height="100"  width="100"/><hr>
            <h3>titulo de audio</h3>
            <h3>procedencia</h3>
            <h3>Nombre del narrador</h3>
            <h3>Nombre musica de fondo</h3> 
            <i class="fa-solid fa-trash-can"></i>
            <i class="fa-sharp fa-solid fa-screwdriver-wrench"></i>     
        </div>
    </div>
</div>