<div class="contendor">
    <div class="scroll-bg">
        <div class="scroll-div">
            <div class="CUENTOS"><h2>CUENTOS:</h2></div>
            <div class="imageUno"><img src="assets/imageFolder/CuentoUno.jpg" alt="Quechua" height="120"  width="120"/><hr></div>
            <div class="iconosUno"><button><i class="fas fa-trash-can fa-2x"></i></button></div>   
            <div class="iconoUno"><button><i class="fas fa-screwdriver-wrench fa-2x"></i></button></div> 
            <div class="imageDos"><img src="assets/imageFolder/CuentoDos.jpg" alt="Quechua" height="120"  width="120"/><hr></div>
            <div class="iconosDos"><button><i class="fas fa-trash-can fa-2x"></i></button></div>   
            <div class="iconoDos"><button><i class="fas fa-screwdriver-wrench fa-2x"></i></button></div> 
            <div class="imageTres"><img src="assets/imageFolder/CuentoTres.jpg" alt="Quechua" height="120"  width="120"/><hr></div>
            <div class="iconosTres"><button><i class="fas fa-trash-can fa-2x"></i></button></div>   
            <div class="iconoTres"><button><i class="fas fa-screwdriver-wrench fa-2x"></i></button></div>
            <div class="imageCuatro"><img src="assets/imageFolder/CuentoCuatro.jpg" alt="Quechua" height="120"  width="120"/><hr></div>
            <div class="iconosCuatro"><button><i class="fas fa-trash-can fa-2x"></i></button></div>   
            <div class="iconoCuatro"><button><i class="fas fa-screwdriver-wrench fa-2x"></i></button></div> 
            <div class="scroll-object">                
                <div class="contenidoUno">
                    <h3>Titulo de audio<br>
                        Procedencia<br>
                        Nombre del narrador<br>
                        Nombre musica de fondo<br>
                    </h3>
                </div>     
                               
                <div class="contenidoDos">
                    <h3>Titulo de audio<br>
                        Procedencia<br>
                        Nombre del narrador<br>
                        Nombre musica de fondo<br>
                    </h3>
                </div>     
                
                <div class="contenidoTres">
                    <h3>Titulo de audio<br>
                        Procedencia<br>
                        Nombre del narrador<br>
                        Nombre musica de fondo<br>
                    </h3>
                </div>    
                
                <div class="contenidoCuatro">
                    <h3>Titulo de audio<br>
                        Procedencia<br>
                        Nombre del narrador<br>
                        Nombre musica de fondo<br>
                    </h3>
                </div>  
                
            </div>
        </div>
    </div>
    <div class="DosScroll-bg">
        <div class="DosScroll-div">
            <div class="LEYENDAS"><h2>LEYENDAS:</h2></div>
            <div class="imageUno"><img src="assets/imageFolder/LeyendaUno.jpg" alt="Quechua" height="120"  width="120"/><hr></div>
            <div class="iconosUno"><button><i class="fas fa-trash-can fa-2x"></i></button></div>   
            <div class="iconoUno"><button><i class="fas fa-screwdriver-wrench fa-2x"></i></button></div> 
            <div class="imageDos"><img src="assets/imageFolder/LeyendaDos.jpg" alt="Quechua" height="120"  width="120"/><hr></div>
            <div class="iconosDos"><button><i class="fas fa-trash-can fa-2x"></i></button></div>   
            <div class="iconoDos"><button><i class="fas fa-screwdriver-wrench fa-2x"></i></button></div> 
            <div class="imageTres"><img src="assets/imageFolder/LeyendaTres.jpg" alt="Quechua" height="120"  width="120"/><hr></div>
            <div class="iconosTres"><button><i class="fas fa-trash-can fa-2x"></i></button></div>   
            <div class="iconoTres"><button><i class="fas fa-screwdriver-wrench fa-2x"></i></button></div>
            <div class="imageCuatro"><img src="assets/imageFolder/LeyendaCuatro.jpg" alt="Quechua" height="120"  width="120"/><hr></div>
            <div class="iconosCuatro"><button><i class="fas fa-trash-can fa-2x"></i></button></div>   
            <div class="iconoCuatro"><button><i class="fas fa-screwdriver-wrench fa-2x"></i></button></div> 
            <div class="DosScroll-object">
                <div class="imageUno">
                    <img src="assets/imageFolder/LeyendaUno.jpg" alt="Quechua" height="120"  width="120"/><hr>
                </div>
                <div class="contenidoUno">
                    <h3>Titulo de audio<br>
                        Procedencia<br>
                        Nombre del narrador<br>
                        Nombre musica de fondo<br>
                    </h3>
                </div>     
                               
                <div class="contenidoDos">
                    <h3>Titulo de audio<br>
                        Procedencia<br>
                        Nombre del narrador<br>
                        Nombre musica de fondo<br>
                    </h3>
                </div>     
                
                <div class="contenidoTres">
                    <h3>Titulo de audio<br>
                        Procedencia<br>
                        Nombre del narrador<br>
                        Nombre musica de fondo<br>
                    </h3>
                </div>    
                
                <div class="contenidoCuatro">
                    <h3>Titulo de audio<br>
                        Procedencia<br>
                        Nombre del narrador<br>
                        Nombre musica de fondo<br>
                    </h3>
                </div>  
            </div>
        </div>
    </div>
</div>
